<div class='list'><img
    src={{flags.svg}}
    alt='flag of {{name.common}}'
    width='45px'
    height='27px'
  />
  <h2 class='country-title'>{{name.common}}</h2></div>
<ul>
  <li><span class='country-info-item'>Capital:</span> {{capital}} </li>
  <li><span class='country-info-item'>Population:</span> {{population}}</li>
  <li><span class='country-info-item'Languages:</span>
    {{#each languages}}{{this}}{{#unless @last}},
      {{/unless}}{{/each}}</li>
</ul>